html {
    scroll-behavior: smooth;
}

body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    background: rgb(31, 31, 31) url(./pattern.png) repeat;
}

img {
    width: 200px;
    border: solid white 5px;
    border-radius: 120px;
}

.avatar:hover {
    transform: scale(1.2);
}

.avatar{
    transition: all .20s cubic-bezier(0.4, 0, 1, 1);
    vertical-align: middle;
    float: right;
    margin: 35px 35px 35px 0px;

}

.avatar-text{
    float: left;
    color:white;
    font-size: 61px;
    font-family: 'Comfortaa';
    margin-right: 50px;
    margin-left: 20px;
    user-select: none;
}

.name{
    width: fit-content;
    align-items: center;
    display: flex;
    margin-top: 100px;
}
.content{
    background-color: rgb(19, 19, 19);
    border-radius:8px 8px 0px 0px;
    bottom: 0px;
    height: 48%;
    right: 100px;
    left: 100px;
    position: fixed;
}

.container{
}